body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #FAFAFA;
}

.page {
    bottom:0;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
}

.input-phone{
    display: block;
    margin: 16px auto;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 0 16px 3px rgba(0,0,0,0.2);
    width: 263px;
}

.list {
    display: block;
    margin: 0 auto;
    padding: 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 16px 3px rgba(0,0,0,0.2);
    width: 263px;
    background-color: #FFF;
    list-style: none;
}

.list li {
    padding: 16px;
    font-size: 18px;
    border-bottom: 1px solid #F3F3F3;
}

.list li a {
    color: #333;
    text-decoration: none;
}

.primary {
    padding: 40px 0;
    background: #F1F1F1;
    border-left: 4px solid #AAD893;
}

.content {
    padding: 40px 0;
    background: #ECECEC;
    border-left: 4px solid #8BC3C5;
}

.bar {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.bar a {
    line-height: 40px;
    text-align: center;
    background: #ECECEC;
    padding: 0px 10px;
    border-radius: 4px;
}

.ng-enter {
    animation: slideIn 0.5s ease-in; 
}
.ng-leave { 
    animation: slideOut 0.5s ease-out; 
}

/* ANIMATIONS */

@keyframes slideOut {
    to { opacity: 0; transform: scale(.3); }
}
@keyframes slideIn {
    from { opacity: 0; transform: scale(.3); }
    to { opacity: 1; transform: scale(1); }
}

